.bg-footer{
    background: linear-gradient(45deg, #2a1a5e 0%, #5126a7 100%);
}
.mail-gif{
    width: 10%;
}

.text-suscribe{
    font-family: $fonts-secondary;
    font-weight: 200;
    font-size: 1.5rem;
}
.url-web{
    text-decoration: none;
    font-family: $fonts-secondary;
}