.btn-primary-detail{
    color: #FFF !important;
    background:linear-gradient(76.35deg, rgb(128, 26, 230) 15.89%, rgb(162, 26, 230) 89.75%) !important;
    border: 0;

    &:hover{
      background: linear-gradient(76.35deg, rgb(102, 10, 194) 15.89%, rgb(133, 10, 194) 89.75%) !important;
    }
}
.count__container-detail{
    justify-content: space-between;
}
.item-price{
    font-size: 1.5rem;
}
.item-stock{
    font-size: 1rem;
}
.card-text{
    font-size: 1.2rem;
}