.count__container{
    justify-content: center;
    grid-gap: 25px;
    margin-bottom: 4px;
    margin-top: 5px;
}
.btn-minus{
    color: $color-primary;

    &:hover{
        background-color: $color-primary;
    }
}