.service__rotate{
    margin-bottom: 7rem;
}
.service__animation{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;

}
.service__bg{
    background-image: url(https://drive.google.com/file/d/1_I8slSo7kq4WHovaM4oLRx6nirNNdfF3/view?usp=sharing) no-repeat;
}
.service__title {
    font-size: 4rem;
}
.service__description{
    font-weight: 300;
font-size: 20px;
line-height: 30px;
}


    @-webkit-keyframes up-down {
        0% {
          transform: translateY(10px);
        }
      
        100% {
          transform: translateY(-10px);
        }
      }
      
      @keyframes up-down {
        0% {
          transform: translateY(10px);
        }
      
        100% {
          transform: translateY(-10px);
        }
      }
      